#home {
    background: url(assets/5766.jpg) no-repeat center center fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: table;
    position: relative;
}

.landing {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}